@import 'nib'
@import '../../node_modules/jeet/jeet.styl'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #000
$secondary ?= #fff
$accent ?= #ff0000

// Metrics
$padding = 10px
$stroke = 1px

// CSS Reset
global-reset()

webfont('Terminal-Grotesque', 'terminal-grotesque-webfont', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'Terminal-Grotesque', Helvetica Neue, Arial, sans-serif
	font-size 4rem
	color $secondary
	overflow hidden

body.landingShown
	overflow initial

h3
	font-size 4rem
	margin-bottom 1rem
	+below($md)
		font-size 3.5rem

h1
	text-transform uppercase

h2
	font-size 7vw
	+below($md)
		font-size 12vw
	+below($sm)
		font-size 5rem

h1, h2, h3, h3 a
	+above($md + 1)
		color $primary
		//-webkit-text-stroke 1px $secondary
		//text-stroke 1px $secondary
		text-shadow $stroke $stroke 0 $secondary, (-1*$stroke) (-1*$stroke) 0 $secondary, $stroke (-1*$stroke) 0 $secondary, (-1*$stroke) $stroke 0 $secondary

.lt-ie11, .lt-ie9, .lt-ie8, .lt-ie7
	h1, h2, h3, h3 a
		+above($md + 1)
			color $primary
	
h4
	text-transform uppercase
	font-size 2rem

h5, .infos, .link
	font-size 1.3rem
	text-transform uppercase
	letter-spacing .05em
	+below($sm)
		font-size 1rem

p
	margin-bottom 1em
	line-height 100%

p:last-child
	margin-bottom 0

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.md-hide
	+below($md)
		display none


#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 900
	a
		border-bottom 1px solid
	.inner
		padding 8rem 20%

.no-js, .no-svg, .no-flexbox
	#outdated
		display block

// @keyframes color {
//     100%, 0% {
//         stroke: #40382e
//     }
//     40% {
//         stroke: #0f0f0f
//     }
//     66% {
//         stroke: #40382e
//     }
//     80%, 90% {
//         stroke: #0f0f0f
//     }
// }

@keyframes rotate {
    100% {
        transform(rotate(360deg))
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    30% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	//background $primary url('../../images/loader.gif') center no-repeat
	background $primary
	background-size 15px
	z-index 10000
	.spinner
		width 70px
		height 70px
		align()
		.circular
			animation rotate 2s linear infinite
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				stroke $secondary
				stroke-dasharray 1, 200
				stroke-dashoffset 0
				animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite

header
	transition(transform)
	transform(translate3d(0,-100%,0))
	padding $padding
	flexbox()
	align-items center
	justify-content space-between
	position fixed
	top 0
	left 0
	width 100%
	z-index 200

header.visible
	transform(none)
	

#container
	span(1)
	position relative

div.infos > span, .list > p, footer > span
	font-size 1.3rem
	display inline-block
	margin-right 1em
	margin-bottom 0
	+below($sm)
		font-size 1rem
		margin-right .5em

div.infos > span:last-child, .list > p:last-child, , footer > span:last-child
	margin-right 0
		
span.year::after
	content '\002014'
	margin-left 1.2em
	
span.checked::after
	content '\0000D7'
	text-transform none
	margin 0 .15em
	position relative
	top -.1em

section
	span(1)
	position relative
	text-align center
	min-height 100vh
	
section#landing
	flexbox()
	align-items center
	justify-content center
	cursor pointer
	h5
		margin-top .5em

section#selected-projects
	padding 0 20%
	overflow hidden
	+below($md)
		padding 0 4rem
	+below($sm)
		padding 0 1rem
	h5
		margin $padding 0 10rem
	.project
		display block
		margin-bottom 3rem
		+below($sm)
			margin-bottom 2rem
		.project-title
			transition(color, 100ms, ease)
			display inline
			cursor pointer
			letter-spacing -.01em
			line-height 80%
			margin-bottom .5rem
			position relative
			z-index 0
			+above($md + 1)
				text-shadow $stroke $stroke 0 $secondary, (-1*$stroke) (-1*$stroke) 0 $secondary, $stroke (-1*$stroke) 0 $secondary, (-1*$stroke) $stroke 0 $secondary, 0 0 20px rgba(0,0,0,0.8)
			a
				display inline-block
			h2
				display block
		.infos
			margin-top 1em
			cursor default
			flexbox()
			align-items center
			justify-content center
			+below($sm)
				margin-top .5em
			a
				cursor pointer
				//margin 0 .15em
		.link
			display none
			margin-top 1em
			position relative
			mix-blend-mode difference
			z-index 100
			+below($sm)
				margin-top .5em
		.video
			visibility hidden
			align(vertical)
			pointer-events none
			position fixed
			width 50vw
			left -51vw
			z-index 50
			box-shadow 0px 0px 20px 10px rgba(0,0,0,0.8)
			.ui
				display block
				width 100%
				border 1px solid rgba(255,255,255,0.5)
				border-bottom none
				background $primary
				height 24px
				padding 8px
				li
					display block
					float left
					width 6px
					height 6px
					border-radius(10px)
					margin-right 10px
					background $secondary
			img
				visibility visible
			video ~ img
				display none
				+below($md)
					display block
			video
				display block
				+below($md)
					display none
	.project.hover
		.project-title
			z-index 100
			color $secondary
			text-shadow 0 0 20px rgba(0,0,0,0.8)
		.link, .video
			display block
		.infos
			display none

section#connect
	flexbox()
	align-items center
	justify-content center
	h3
		margin-bottom .5rem
	h3:not(:first-child)
		margin-top 3rem
	[data-target]
		cursor pointer
	.inner
		z-index 100
	.list
		flexbox()
		align-items center
		justify-content center
		text-transform uppercase
	.number
		font-size 0.6em
		margin 0 .2em
		position relative
		top -.2em

.st0
	fill none
	stroke rgba(255,255,255,.8)
	stroke-width 0.25
	stroke-miterlimit 10

.galaxy
	width 100%
	height 100vh
	position fixed
	top 0
	left 0
	z-index 50
	pointer-events none
	.hide
		visibility hidden
	svg
		width 100%
		height 100%

#discover
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 100
	overflow hidden
	pointer-events none
	#discover-images
		width 100%
		height 100%
	.discover-item
		align()
		visibility hidden
		top 130%
		left -100%
		max-height 700px
		//box-shadow(0px 0px 15px rgba(0,0,0,0.4))

footer
	span(1)
	flexbox()
	align-items center
	justify-content center
	position absolute
	bottom $padding
	left 0
	z-index 100